
<div class="container">
    <div class="stepwizard" *ngIf="showPersonal1">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-primary btn-circle class1">1</a>
                <p>Add Employee</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class2" disabled="disabled">2</a>
                <p>Upload Picture</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class3" disabled="disabled">3</a>
                <p>Dependant</p>
            </div>
        </div>
    </div>
    <div class="stepwizard" *ngIf="showPersonal2">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class1" disabled="disabled">1</a>
                <p>Add Employee</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-primary btn-circle class2">2</a>
                <p>Upload Picture</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class3" disabled="disabled">3</a>
                <p>Dependant</p>
            </div>
        </div>
    </div>
    <div class="stepwizard" *ngIf="showPersonal3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class1" disabled="disabled">1</a>
                <p>Add Employee</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class2" disabled="disabled">2</a>
                <p>Upload Picture</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-primary btn-circle class3">3</a>
                <p>Dependant</p>
            </div>
        </div>
    </div>
    <div class="row">
      
        <form class="col-md-8 col-md-offset-2" *ngIf="showPersonal1" #tab1Form="ngForm" (ngSubmit)="addEmployee()">

          <div *ngIf="formErrors.firstname || formErrors.lastname || formErrors.dateOfBirth || formErrors.gender || formErrors.position" class="form-group alert alert-danger">
            <div *ngIf="formErrors.firstname" class="">{{formErrors.firstname}}</div>
            <div *ngIf="formErrors.lastname" class="">{{formErrors.lastname}}</div>
            <div *ngIf="formErrors.dateOfBirth" class="">{{formErrors.dateOfBirth}}</div>
            <div *ngIf="formErrors.gender" class="">{{formErrors.gender}}</div>
            <div *ngIf="formErrors.position" class="">{{formErrors.position}}</div>
          </div>

            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" [ngClass]="{'.ng-invalid': formErrors.firstname}" name="firstname" [(ngModel)]="employee.firstname" required />
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" [(ngModel)]="employee.lastname"  class="form-control" name="lastname" required />
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" [(ngModel)]="employee.emailAddress"  class="form-control" name="emailAddress" required />
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date Of Birth</label>
                <input type="date" [(ngModel)]="employee.dateOfBirth"  class="form-control" name="dateOfBirth" required />
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select [(ngModel)]="employee.gender"  class="form-control" name="gender" required>
                    <option selected value="">Select gender...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <select [(ngModel)]="employee.position"  class="form-control" name="position" required>
                    <option selected value="">Select position...</option>
                    <option value="Manager">Manager</option>
                    <option value="Developer">Developer</option>
                    <option value="ProjectManager">Project Manager</option>
                </select>
            </div>

            <div class="">
                <button id="showPersonal1Button" [disabled]="!tab1Form.form.valid" type="submit" class="btn btn-primary pull-right">Proceed to upload picture</button>
            </div>
        </form>




        <form class="col-md-8 col-md-offset-2" *ngIf="showPersonal2">
            <input id="imageFile" #fileInput name="file" type="file" />
            <input type="submit" id="showPersonal2Button" (click)="uploadPicture()" value="Next" class="btn btn-primary pull-right" />
        </form>
        <form class="col-md-8 col-md-offset-2" *ngIf="showPersonal3">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" [(ngModel)]="dependant.firstname" class="form-control"  [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" [(ngModel)]="dependant.lastname" class="form-control" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select [(ngModel)]="dependant.gender" class="form-control" [ngModelOptions]="{standalone: true}">
                    <option selected="selected" value="select">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="position">Relationship</label>
                <select [(ngModel)]="dependant.relationship" class="form-control" [ngModelOptions]="{standalone: true}">
                    <option selected="selected" value="select">Select</option>
                    <option value="Spouse">Spouse</option>
                    <option value="Child">Child</option>
                </select>
            </div>
            <div class="">
                <input type="submit" id="showPersonal3Button" (click)="addDependant()" value="Save" class="btn btn-primary pull-left" />
                <a href="#" id="showPersonal3FinishButton" class="btn btn-success pull-right">Finish</a>
            </div>
            <br />
            <br />
            <br />

            <div class="table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Lastname</th>
                            <th>Firstname</th>
                            <th>Gender</th>
                            <th>Relationship</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dependant of dependants">
                            <td>{{dependant.lastname}}</td>
                            <td>{{dependant.firstname}}</td>
                            <td>{{dependant.gender}}</td>
                            <td>{{dependant.relationship}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="col-md-2">&nbsp;</div>


    </div>

</div>