

<div>
    <!--<a ng-link="['AddEmployee']" class="btn btn bg-primary">
        Create New Employee
    </a>-->
</div>
<br />
<div class="panel panel-primary table-responsive">
    <div class="panel-heading">
        <h4>Employee List</h4>
    </div>
  
    <div class="panel-body">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in model.employees">
                    <td>{{employee.lastname}}</td>
                    <td>{{employee.firstname}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.dateOfBirth}}</td>
                    <td>{{employee.position}}</td>
                    <td>
                        <a ng-click="['EditEmployee', {id:employee.employeeID}]" class="btn btn-sm btn-primary">Edit
                             <span class="glyphicon glyphicon-edit"></span>

                        </a>
                        <a ng-link="['EmployeeDetail', {id:employee.employeeID}]" class="btn btn-sm btn-success">Detail
                            <span class="glyphicon glyphicon-eye-open"></span> 
                        </a>
                        <a class="btn btn-danger btn-sm" ng-click="model.deleteEmployee(employee.employeeID)">Delete
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>