<!DOCTYPE html>
<html ng-app="employeeManagement">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Employee Management</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    

    <div class="container body-content" style="margin-top: 30px;">
        <div class="">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Employee Management</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/app/Common/module.js"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>*@
    <script src="~/Scripts/angula_1_router.js"></script>
    <script src="~/app/Common/MainRoute.js"></script>
    <script src="~/app/Employee/AddEmployee/AddEmployee.js"></script>
    <script src="~/app/Employee/ListEmployee/EmployeeList.js"></script>
</body>
</html>