

<div class="container">
    <div class="stepwizard" ng-hide="model.showPersonal1">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-primary btn-circle class1">1</a>
                <p>Add Employee</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class2" disabled="disabled">2</a>
                <p>Upload Picture</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class3" disabled="disabled">3</a>
                <p>Dependant</p>
            </div>
        </div>
    </div>
    <div class="stepwizard" ng-show="model.showPersonal2">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class1" disabled="disabled">1</a>
                <p>Add Employee</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-primary btn-circle class2">2</a>
                <p>Upload Picture</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class3" disabled="disabled">3</a>
                <p>Dependant</p>
            </div>
        </div>
    </div>
    <div class="stepwizard" ng-show="model.showPersonal3">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class1" disabled="disabled">1</a>
                <p>Add Employee</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-default btn-circle class2" disabled="disabled">2</a>
                <p>Upload Picture</p>
            </div>
            <div class="stepwizard-step">
                <a href="" type="button" class="btn btn-primary btn-circle class3">3</a>
                <p>Dependant</p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8 col-md-offset-2" ng-hide="model.showPersonal1">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" ng-model="model.firstname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" ng-model="model.lastname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date Of Birth</label>
                <input type="date" ng-model="model.dateOfBirth" class="form-control" />
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select ng-model="model.gender" class="form-control">
                    <option selected value="select">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <select ng-model="model.position" class="form-control">
                    <option selected value="select">Select</option>
                    <option value="Manager">Manager</option>
                    <option value="Developer">Developer</option>
                    <option value="ProjectManager">Project Manager</option>
                </select>
            </div>

            <div class="">
                <input type="submit" ng-click="model.addEmployee()" value="Next" class="btn btn-primary pull-right" />
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2" ng-show="model.showPersonal2">
            <!--<input ng-model='model.file' type="file" />-->
            <input id="imageFile" name="file" type="file" />
            <!--<div class="button" ngf-select="model.upload($file)">Upload on file select</div>-->
            <input type="submit" ng-click="model.uploadPicture()" value="Next" class="btn btn-primary pull-right" />
            <!--<fieldset>
                <legend>Upload on form submit</legend>
                Username:
                <input type="text" name="userName" ng-model="username" size="31" required>
                <i ng-show="myForm.userName.$error.required">*required</i>
                <br>Photo:
                <input type="file" ngf-select ng-model="picFile" name="file"
                       accept="image/*" ngf-max-size="2MB" required
                       ngf-model-invalid="errorFile">
                <i ng-show="myForm.file.$error.required">*required</i><br>
                <i ng-show="myForm.file.$error.maxSize">
                    File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M
                </i>
                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb" style="width:100px; height:100px;"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                <br>
                <button ng-disabled="!myForm.$valid"
                        ng-click="model.uploadPic(picFile)">
                    Submit
                </button>

                <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%"
                         ng-bind="picFile.progress + '%'"></div>
                </span>
                <span ng-show="picFile.result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </fieldset>-->
        </div>
        <div class="col-md-8 col-md-offset-2" ng-show="model.showPersonal3">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" ng-model="model.dependantFirstname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" ng-model="model.dependantLastname" class="form-control" />
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select ng-model="model.dependantGender" class="form-control">
                    <option selected="selected" value="select">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="position">Relationship</label>
                <select ng-model="model.dependantRelationship" class="form-control">
                    <option selected="selected" value="select">Select</option>
                    <option value="Spouse">Spouse</option>
                    <option value="Child">Child</option>
                </select>
            </div>
            <div class="">
                <input type="submit" ng-click="model.addDependant()" value="Save" class="btn btn-primary pull-left" />
                <a href="#" class="btn btn-success pull-right">Finish</a>
            </div>
            <br />
            <br />
            <br />

            <div class="table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Lastname</th>
                            <th>Firstname</th>
                            <th>Gender</th>
                            <th>Relationship</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dependant in model.dependants">
                            <td>{{dependant.lastname}}</td>
                            <td>{{dependant.firstname}}</td>
                            <td>{{dependant.gender}}</td>
                            <td>{{dependant.relationship}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>


    </div>

</div>
