

<div>
  <!--<a ng-link="['AddEmployee']" class="btn btn bg-primary">
      Create New Employee
  </a>-->
</div>
<br />
<div class="panel panel-primary table-responsive">
  <div class="panel-heading">
    <h4>Employee List</h4>
  </div>
  <div class="row">
    
    <div class="col-md-3">
      <input [(ngModel)]="searchText.lastname" placeholder="Search Lastname" class="form-control col-md-4" style="margin:10px;">
    </div>
    <div class="col-md-3">
      <input [(ngModel)]="searchText.firstname" placeholder="Search Firstname" class="form-control col-md-4" style="margin:10px;">
    </div>
    <div class="col-md-3">
      <input [(ngModel)]="searchText.position" placeholder="Search Position" class="form-control col-md-4" style="margin:10px;">
    </div>
    <!--<div class="my-container">
      <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255, 0, 0)', backdropBorderRadius: '10px',
        primaryColour: '#fe1600', secondaryColour: '#00bfff', tertiaryColour: '#fe1600' }"></ngx-loading>
    </div>-->
  </div>
  <div class="panel-body">
    <table class="table table-responsive table-striped" name="tableName">
      <thead>
        <tr>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Gender</th>
          <th>Date Of Birth</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | filterBy: searchText">
          <td>{{ employee.lastname }}</td>
          <td>{{ employee.firstname }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.dateOfBirth | date:"MM/dd/yyyy" }}</td>
          <td>{{ employee.position }}</td>
          <td>
            <a (click)="onGetEmployee(employee.employeeID)" data-toggle="modal" data-target="#discountModal" class="btn btn-sm btn-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>

            </a>
            <a (click)="gotoDetail(employee.employeeID)" class="btn btn-sm btn-success">
              Detail
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a class="btn btn-danger btn-sm" (click)="onDeleteEmployee(employee.employeeID)">
              Delete
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <br />

    <div id="discountModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!---<div class="modal-content">-->

          <form  class="modal-content" (ngSubmit)="updateEmployee(employee.employeeID)" #myForm="ngForm">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Employee</h4>
            </div>
            <div class="modal-body">

              <div *ngIf="formErrors.firstname || formErrors.lastname || formErrors.gender || formErrors.position" class="form-group alert alert-danger">
                <div *ngIf="formErrors.firstname" class="">{{formErrors.firstname}}</div>
                <div *ngIf="formErrors.lastname" class="">{{formErrors.lastname}}</div>
                <div *ngIf="formErrors.gender" class="">{{formErrors.gender}}</div>
                <div *ngIf="formErrors.position" class="">{{formErrors.position}}</div>
              </div>

              <div class="form-group" ng-hide="true">
                <label for="id">ID</label>
                <input type="text" [(ngModel)]="employee.employeeID" name="employeeID" class="form-control" disabled />
              </div>

              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" [(ngModel)]="employee.firstname" name="firstname" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" [(ngModel)]="employee.lastname" name="lastname" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select [(ngModel)]="employee.gender" class="form-control" name="gender" required>
                  <option selected="selected" value="">Select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="position">Position</label>
                <select [(ngModel)]="employee.position" class="form-control" name="position" required>
                  <option selected="selected" value="">Select</option>
                  <option value="Manager">Manager</option>
                  <option value="Developer">Developer</option>
                  <option value="ProjectManager">Project Manager</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-primary pull-right">Update Record</button>
              </div>
            </div>

          </form>

        <!--</div>-->

      </div>
    </div>
  </div>


</div>
